*{
  margin: 0;
}

.App{
  display: flex;
align-items: center;
justify-content: center;
}
.quiz-container{
  display: flex;
  
  flex-direction: column;
  justify-content: center;
 
  align-items: center;
  /* background-color: aqua; */
}

.quest_container{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 250px;
  background-color: aqua;
}
.qts_opts{
  padding: 10px;
  text-align: center;
}
.ans_txt{
  cursor: pointer;
  background-color: aqua;
  margin: 5px;
  height: 40px;
}
/* .ans_txt:hover{
  border: 1px solid black;
} */
.options{
  display: flex;
  flex-direction: column;
}

.end_txt{
  margin: auto;
  justify-content: center;
  text-align: center;
}
